<a href="https://colab.research.google.com/github/orieasy1/23-2-Programming-Study/blob/main/Week2_%EB%B3%80%EC%88%98%EC%99%80_print%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수 <br>
1. 값을 저장할 때 사용하는 식별자
2.  언제든지 새로운 값에 의해 값이 변할 수 있음

변수 식별자 이름 규칙 <br>
1. 파이썬 키워드 식별자는 식별자로 사용할 수 없다.
2. 영문자는 대소문자를 구별한다.
3. 식별자 구성은 영문자, 숫자, 밑줄문자(_)로 이루어진다.
4. 첫 글자는 숫자로 시작하면 안되고 반드시 영문자나 밑줄(_)로 시작해야한다.
5. 식별자 중간에 공백을 포함할 수 없다.
6. 식별자 생성에 길이 제한은 없다.

In [ ]:
#변수에 데이터를 기억한 후 출력하는 예제
name = "홍길동"
print("나의 이름은", name, "이다.")

age = 20
print("나이는", age, "이다.")

나의 이름은 홍길동 이다.
나이는 20 이다.

숫자 데이터 세 자리마다 (,) 단위를 주어 숫자를 쉽게 표현하기 위해 문자열 포맷팅 함수 format()함수를 이용한다.

{형식규칙:,}.format(값)

형식규칙 안에 그냥오는 숫자는 형식화할 값은 인덱스를 나타낸다. 숫자는 0부터 시작

: 다음에 오는 ,는 천 단위 구분 기호로서, 정수를 천 단위로 구분하여 가독성을 높이는 데 사용됨

In [ ]:
name = "홍길동"
kibon = 2000000
bonus = 500000
salary = kibon + bonus

print("{0}씨 월급은 기본금{1:,}, 보너스{2:,}, 총급여{3:,}".format(name, kibon, bonus, salary))

홍길동씨 월급은 기본금2,000,000, 보너스500,000, 총급여2,500,000

**정수형 숫자 자리 형식 지정**

{인덱스:nd}.format(변수)

* 형식규칙에 ;앞에 숫자는 변수에 표시된 출력순서를 나타냄
* n은 정수형 전체 출력자리수를 의미함
* d는 정수형 유형 숫자를 의미하며 실수 숫자 사용시 오류가 난다

In [ ]:
num1 ,num2, num3 = 100, 200, 300
print("{0:d}/{1:5d}/{2:05d}".format(num1, num2, num3))

#그냥 5를 작성하면 남는자리에 공백이 추가되고 05d를 작성하면 남는자리에 0이 추가된다

100/  200/00300

**실수형 숫자 자리 형식 지정**

{0:0,.1f}.format(값)
* 형식 규칙에 ;앞에 숫자는 변수에 표시된 출력 순서를 나타낸다.
* 0,의 의미는 정수형 숫자로 3자리마다,를 부여한다. 이때 0은 생략할 수 있다.
* .숫자f는 실수형 소숫점 자리를 나타낼 때 사용한다.

In [ ]:
num1 = 45000000
num2 = 100000.41375

#소수점 아래 두 자리까지
print("num1 변수:{0:0,.2f} num2 변수: {1:0,.2f}".format(num1, num2))

num1 변수:45,000,000.00 num2 변수: 100,000.41

**f-string 포맷**

print(f"표시할 문자열 {변수}")

In [ ]:
name = "홍길동"
age = 20
print(f"이름은 {name}이고, 나이는 {age}세이다.")

이름은 홍길동이고, 나이는 20세이다.

**print 함수와 여러 가지 내용들**
1. 문자열 출력: " " 혹은 ' ' 사용<br>
print("문자열") 혹은 print('문자열')
2. 2개이상의 문자열 연결하여 출력하기<br>+이나 ,를 사용하여 연결
3. 문자열 반복해서 출력하기<br>*원하는 반복횟수 입력
4. end 옵션 사용하기<br>print함수에는 기본적으로 개행이 포함되어있는데 end옵션을 이용하면 개행을 없에고 출력할수 있다.
5. sep옵션 사용하기<br>,구분자를 주면 문자출력 시 자동으로 공백이 주어져서 출력되는데 sep 옵션을 활용하여 공백을 없애거나 구분자를 변경하여 출력할 수 있다.

In [ ]:
#end 옵션 사용
print("python", end="")
print("program")

#sep 옵션 사용1: 공백없애기
print("a", "b", "c", sep="")
#sep 옵션 사용2: 공백을 ,로 변경하여 출력
print("python", "program", "cool", sep=(","))

pythonprogram
abc
python,program,cool