<a href="https://colab.research.google.com/github/orieasy1/23-2-Programming-Study/blob/main/Week_6_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for 변수 in range(시작값, 종료값+1, 증감값): <br>
  처리할 반복 문장

* 시작값과 증감값을 생략하면 시작값은 0, 증가값은 1로 간주:
range(5) = range(0,5,1)

* end = " " : print()함수가 가지고 있는 자동개행 특성을 무시하고 가로로 이어서 한줄에 출력할 수 있다.

In [ ]:
for i in range(1,5,1):
  print(i)

In [ ]:
i = 0
sum = 0

for i in range( 1, 11, 1):
  sum += i

print("1에서 10까지 자연수의 합 : %d" %sum)

1에서 10까지 자연수의 합 : 55

In [ ]:
for i in range(5):
  num = int(input("어떤 수: "))
  if num%2 == 0:
    print(f"{num}은 짝수입니다.")
  else:
    print(f"{num}은 홀수입니다.")

어떤 수: 5
5은 홀수입니다.
어떤 수: 4
4은 짝수입니다.
어떤 수: 3
3은 홀수입니다.
어떤 수: 2
2은 짝수입니다.
어떤 수: 1
1은 홀수입니다.

In [ ]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

for문과 리스트

for 변수 in 리스트명: <br>
  처리할 반복 문장

리스트 변수를 사용하지 않고 리스트 구조를 in 연산자 뒤에 직접 나열하여 항목 출력이 가능하다.
for 변수 in [리스트]: <br>
  처리할 반복 문장

In [ ]:
num = [1,2,3,4,5]

for i in num:
  print(i)

1
2
3
4
5

In [ ]:
for i in [1,2,3,4,5] :
  print(i)

리스트 구조 항목을 역순으로 출력하기 위해서는

* 리스트명[::-1]와 같이 step부분에 음수값을 지정
* reversed() 함수 사용
* .reverse() 함수 사용

In [ ]:
alpha = ["a", "b", "c", "d", "e"]

for i in alpha[::-1] :
  print(i)

print()

for i in reversed(alpha) :
  print(i)

print()

alpha.reverse()
for i in alpha :
  print(i)

e
d
c
b
a

e
d
c
b
a

e
d
c
b
a

In [ ]:
zoo = ["rabbit", "goat", "tiger", "lion", "giraffe", "zebra"]

for i in reversed(zoo) :
  print(i)

zebra
giraffe
lion
tiger
goat
rabbit

In [ ]:
zoo = ["rabbit", "goat", "tiger", "lion", "giraffe", "zebra"]

for i in zoo:
  print(f"{i}: {len(i)}글자")

rabbit: 6글자
goat: 4글자
tiger: 5글자
lion: 4글자
giraffe: 7글자
zebra: 5글자

In [ ]:
str = input("내가 좋아하는 동물은? ")

found = False

for i in zoo:
  if str == i :
    print(f"{str}은 동물원에 잇스니다")
    found = True
    break

if found:
    print(f"{str}은(는) 동물원에 있습니다.")
else:
    print(f"{str}은(는) 동물원에 없습니다.")

내가 좋아하는 동물은? deer
deer은(는) 동물원에 없습니다.

In [ ]:
str = input("내가 좋아하는 동물은? ")
i=0
for animal in zoo:
  i += 1
  if str == animal :
    found = True
    break
if found == True:
  print(f"내가 좋아하는 동물 {str}은 동물원 {i}번 위치에 있다.")
else:
  print(f"{str}은 동물원에 없습니다.")

내가 좋아하는 동물은? lion
내가 좋아하는 동물 lion은 동물원 4번 위치에 있다.

**while**

변수 = 초기값<br>
while 조건식:<br>
  변수 = 변수 + 증가값<br>
  반복처리할 문장

In [ ]:
animal = ["dog", "duck", "pony", "donkey", "giraffe", "elepant", "cat"]

i=0
while(i<len(animal)):
  print(animal[i])
  i+=1

dog
duck
pony
donkey
giraffe
elepant
cat

연습문제

In [ ]:
count =0

for i in range(5):
  num = int(input("숫자: "))
  if num %2 ==0:
    count += 1

print(f"짝수의 개수: {count}")

숫자: 5
숫자: 9
숫자: 1
숫자: 6
숫자: 3
짝수의 개수: 1

In [ ]:
grade = [90,85,70,60,95]

for i in range(len(grade)):
  if grade[i] >= 90:
    print(f"{i+1}번 학생 {grade[i]}점 : 장학금대상")

0번 학생 90점 : 장학금대상
4번 학생 95점 : 장학금대상

In [ ]:
i = 0
while True:
  print("파이썬 프로그래밍")
  i+=1
  if i == 3:
    break

파이썬 프로그래밍
파이썬 프로그래밍
파이썬 프로그래밍

In [ ]:
name = ["홍길동", "이순신", "강감찬"]

i=0
while i < len(name):
  print(f"{name[i]}씨 반갑습니다.")
  i+=1

홍길동씨 반값습니다.
이순신씨 반값습니다.
강감찬씨 반값습니다.

In [ ]:
animal = ["dog", "duck", "pony", "donkey", "giraffe", "elepant", "cat"]

i=0
while i < len(animal):
  if len(animal[i]) < 5:
    print(animal[i])
  i+=1

dog
duck
pony
cat

In [ ]:
str ="KOREA"

i=0
while i < len(str) :
  print(str[i])
  i +=1

K
O
R
E
A

In [ ]:
dan = int(input("몇 단?: "))

i=0
for i in range(10):
  print(f"{dan} x {i} = {dan * i}")

몇 단?: 9
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81